In [19]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import scipy
import scipy.signal
import pandas as pd
from scipy import stats

HW3 Yu Wu

Problem 1

1a) Which algorithm makes the fewest mistakes?

NN made the fewest mistakes. NN made 3+5=8 mistakes, NA made 1+11=12 mistakes.

1b) Which algorithm is better for the zoo? Explain.

NA is better for the zoo, although it made more mistakes than NN did. NA only made 1 mistake on birds, but NN made 3 mistakes on birds. So NA is better for the zoo.

1c) During the pandemic the number of visitors plummets, and it is only the zoo keeper visiting. So instead of 52% of the photos taken at the aviary door being people, it is now only 1%. Make new truth tables for both algorithms.

For NN table: Assume there's 1000 total.

In [20]:
NNBTB = round(45/48 * 990)
NNPTB = round(3/48 * 990)
NNBTP = round(5/52 * 10)
NNPTP = round(47/52 * 10)

truthtable = pd.DataFrame([[NNBTB, NNBTP], [NNPTB, NNPTP]], index = ['NN Bird','NN Person'], columns=['True Bird', 'True Person'])
truthtable

           True Bird  True Person
NN Bird          928            1
NN Person         62            9

For NA table: Assume there's 1000 total.

In [21]:
NABTB = round(47/48 * 990)
NAPTB = round(1/48 * 990)
NABTP = round(11/52 * 10)
NAPTP = round(42/52 * 10)

truthtable = pd.DataFrame([[NABTB, NABTP], [NAPTB, NAPTP]], index = ['NA Bird','NA Person'], columns=['True Bird', 'True Person'])
truthtable

           True Bird  True Person
NA Bird          969            2
NA Person         21            8

As two tables shown, we can clearly see that NA fits the zoo better.

Problem 2

2a) What is the pdf of the sum of two identical exponential distributions?

It called Erlang distribution, there's the wikipedia of it.
https://en.wikipedia.org/wiki/Erlang_distribution

2b) What is the pdf of the ratio of two zero-mean unity variance normal distributions  X1/X2 ?

It called Cauchy distribution or Lorentz distribution. If X1 and X2 are independent standard normal random variables, then Y = X1/X2 has the standard Cauchy distribution.
http://www.math.wm.edu/~leemis/chart/UDR/PDFs/StandardnormalStandardcauchy.pdf

2c) So far we have looked at 1D probability distributions, but it is possible to have a multi-dimensional vector distribution. A simple first introduction is the 2D Guassian; it looks like a smeared spot. Mathematically this is given by  Xi^+Yj^  where both  X  and  Y  are drawn from 1D Gaussian distributions. If I measure the amplitude of this vector, what is its pdf? (Hint, the amplitude is always positive.)

Here's the wikipedia of Gaussian function: https://en.wikipedia.org/wiki/Gaussian_function#Two-dimensional_Gaussian_function. At the end of the Two-dimensional Gaussian function part. There's a link of Multivariate normal distribution: https://en.wikipedia.org/wiki/Multivariate_normal_distribution. It shows the pdf of the vector.